.card.col-md-3.zoom
    %img.card-img-top{:alt => "Card image", :src => src, :style => "width:100%", class: "#{title}=card"}/
    .card-body
        %h4.card-title= title
        %p.card-text.description= description
        %p.card-text.price= price
