%footer
  .container-fluid.opening
    .row
      .col-md-4.spacing
      .col-md-4.text-center.spacing
        %h3 Opening Hours
        %h6 Everyday 10 AM - 11 PM
      .col-md-4.spacing
  .container-fluid.contact
    .row
      .col-md-4.text-left
        %p Contact:
        %p eureka_caffe@example.com
        %p 0123-456-789
        %a.small{:href => "url"} Privacy policy

      .col-md-4.text-center
        %p Check our profiles:
        %i.fab.fa-facebook-f
        %i.fab.fa-instagram
        %i.fab.fa-twitter
      .col-md-4.text-right
        %p.small Copyright @Eureka Caffe 2018
